.item-list .list-group-item {
    cursor: pointer;
    /* display: flex; */
    position: relative;
}

.item-list .list-group-item:hover {
    background-color: #91dbee;
}

.checkItem {
    position:absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.favorites {
    margin-top: 10px;
}

.btn-fGroup {
    margin-top: 10px;
    width: 317px;
    justify-content: space-between;
    display: flex;
}